.label {
  font-weight: 700;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 14px;
}

.calendarImg {
  height: 30px;
  width: 30px;
  margin-right: 8px;
  padding-left: 10px;
}

.timeSelection {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  height: 46px;
  width: 540px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 6px;
}

.datePlaceholder, .timePlaceholder, .datePlaceholder-active, .timePlaceholder-active {
  color: grey;
  font-weight: 300;
  font-size: 15px;
}

.timePlaceholder, .timePlaceholder-active {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
  height: 100%;
  width: 90px;
  border-left-style: solid;
  border-width: 1px;
  border-color: rgb(227, 223, 223);
}

.timePlaceholder-active, .datePlaceholder-active {
  font-weight: 500;
  color: black;
}

.dateSelection {
  display: flex;
  align-items: center;
  width: 100%;
}
